@using HeadSpringRolodexProject.Web.Models
@model EmployeeRolodexViewModel
@{
    ViewBag.Title = "Employee Rolodex";
}

<h2>Employee Rolodex</h2>

@using (Html.BeginForm())
{
    <p>
        Search Name: @Html.TextBox("search_string", ViewBag.FilterValue as string)
        <input type="submit" value="Find" class="btn-primary" />
    </p>
}

@if (Model.Employees.Count > 0)
{
    @Html.Partial("_List", Model.Employees);
}



